.container {
  max-width: 1200px;
  margin: auto;
  font-size: 20px;
  padding-bottom: 40px;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-bottom: 60px;
  }

  .main {
    ul {
      display: flex;
      justify-content: center;
      gap: 10px;

      li {
        list-style: none;

        a {
          cursor: pointer;
        }

        a:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
.activeClassName {
  color: rgb(200, 40, 40);
}
