.container {
  max-width: 1200px;
  margin: auto;
  font-size: 20px;
  padding-bottom: 40px;

  .main {
    display: flex;
    justify-content: center;
    gap: 10px;

    p {
      cursor: pointer;
    }

    p:hover {
      opacity: 0.6;
    }
  }
}
