.leaveReview {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 30px 0;
  padding-bottom: 30px;

  .links {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 80px;
    font-size: 14px;
    margin-bottom: 20px;

    a,
    p {
      text-decoration: none;
      padding: 3px;
    }
    a:hover {
      opacity: 0.6;
    }
  }

  .main {
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    padding-bottom: 30px;
    .images {
      padding: 20px;
      display: flex;
      align-items: center;
      flex: 1;
      .listImages {
        display: flex;
        flex-direction: column;
        align-items: center;

        .arrow {
          width: 26px;
          cursor: pointer;
          padding: 3px;
        }
        div {
          display: block;
          height: 380px;
          overflow: auto;
          margin-bottom: 20px;

          .contImage {
            width: 80px;
            height: 80px;
            margin: 10px 0;
            cursor: pointer;
            text-align: center;
            border: 1px solid white;
            overflow: hidden;

            img {
              height: 80px;
              padding: 10px;
            }
          }
          .contImage:hover {
            border: 1px solid #794141;
            border-radius: 8px;
          }
        }

        div::-webkit-scrollbar {
          width: 0;
        }
      }
      .image {
        margin: auto;
        img {
          max-width: 500px;
          max-height: 400px;
        }
      }
    }
    .cards {
      div {
        width: 16px;
        height: 16px;
        border-radius: 50px;
        border: 0.5px solid #000;
        margin: 0 20px;
      }
    }
  }

  .info {
    margin-top: 40px;
    padding: 0 20px;
    text-align: center;
    max-width: 460px;

    .nameProduct {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .articleNumberAndFavourites {
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;

      img {
        width: 20px;
        cursor: pointer;
      }

      img:hover {
        opacity: 0.6;
      }
    }

    .stars {
      display: flex;
      align-items: center;
      margin-left: 20px;
      gap: 20px;
      margin-bottom: 60px;
      cursor: pointer;

      .containerStar {
        display: flex;
        align-items: center;
        gap: 4px;

        img {
          width: 20px;
        }
      }
    }

    .stars:hover {
      opacity: 0.7;
    }

    .price {
      font-size: 36px;
      text-align: right;
      margin-right: 20px;
      margin-bottom: 100px;
    }

    button {
      padding: 12px 60px;
      font-size: 20px;
      border: none;
      border-radius: 8px;
      background: #535353;
      color: #e8e8e8;
      cursor: pointer;
    }

    .activeBtn {
      cursor: auto;
      background: #e8e8e8;
      color: #535353;
    }
    .activeBtn:hover {
      opacity: 1;
    }

    button:hover {
      opacity: 0.8;
    }
  }

  .swipers {
    background: #535353;
    display: flex;
    justify-content: space-evenly;
    padding: 4px 20px;
    .swiper,
    .swiperActive {
      color: #e8e8e8;
      text-decoration: none;
      padding: 3px;
    }

    .swiperActive {
      color: #efb3b3;
      cursor: auto;
    }

    .swiper:hover {
      opacity: 0.8;
    }
  }
}
