.main {
  position: absolute;
  z-index: 100;
  background: #e6e6e6;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 20px;

  .container {
    max-width: 1200px;
    padding: 1px 20px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    position: relative;
    background: #fff;

    .search {
      margin-top: 20px;
      position: relative;
      display: flex;
      margin-bottom: 60px;

      input {
        width: 100%;
        font-size: 20px;
        padding: 5px 0 5px 20px;
        border-radius: 5px;
        border: 1.5px solid #535353;
        outline: none;
      }

      .magnifier {
        width: 18px;
        top: 9px;
        right: 70px;
        position: absolute;
      }

      .cross {
        margin-left: 40px;
        width: 20px;
        cursor: pointer;
      }

      .cross:hover {
        opacity: 0.6;
      }
    }

    .cards {
      display: flex;
      max-width: 1000px;
      margin: auto;
      gap: 60px;
      overflow: auto;
      height: 350px;

      a {
        width: 300px;
        position: relative;
        cursor: pointer;
        text-decoration: none;

        div {
          height: 264px;
          img {
            position: relative;
          }
        }

        p {
          z-index: 1;
          position: relative;
        }
      }
    }

    .forward,
    .back {
      position: absolute;
      font-size: 18px;
      top: 220px;
      padding: 5px;
      font-weight: bold;
      cursor: pointer;
    }

    .forward {
      right: 30px;
    }

    .forward:hover {
      opacity: 0.6;
    }

    .back {
      left: 30px;
    }

    .back:hover {
      opacity: 0.6;
    }
  }
}
