.main {
  position: absolute;
  z-index: 100;
  background: #ffffff;
  width: 100%;
  height: 100%;
  top: 0;

  .container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
    text-align: center;
    height: 200px;

    .search {
      margin-top: 20px;
      position: relative;
      display: flex;
      margin-bottom: 60px;

      input {
        width: 100%;
        font-size: 20px;
        padding: 5px 0 5px 20px;
        border-radius: 5px;
        border: 1.5px solid #535353;
        outline: none;
      }

      input:hover {
        opacity: 0.6;
      }

      .magnifier {
        width: 18px;
        top: 9px;
        right: 70px;
        position: absolute;
      }

      .cross {
        margin-left: 40px;
        width: 20px;
        cursor: pointer;
      }

      .cross:hover {
        opacity: 0.6;
      }
    }

    .cards {
      display: flex;
    }
  }
}
